.vscode/**
.vscode-test/**
test/**
.gitignore
jsconfig.json
vsc-extension-quickstart.md
.eslintrc.json
third-party/**
build/**
!build/Release/jumpblock-impl.node
binding.gyp
jumpblock-impl.cc
.gitmodules
